body {
    background-color: #5C45E6
    
h1, h2 {
    text-align: center;
    font-size: 30px;
}

h1 {
    color: darkgreen;
}

h1 {
    color: #453d8b;
    padding: 20px;
}


p {
    text-align: justify; 
    font-size: 20px;
    margin: 30px;
}

#imagem-principal {
    width: 10%;
    border: 5px solid rgb(175, 225, 238);
}
    